.compact-post-card{
    min-width: 830px;
    width: 100%;
    height: 135px;
    background-color: transparent;
    border-radius: 30px;
    margin-top: 40px;
    cursor: pointer;
    border: 1px solid #ccc;
    position: relative;
    cursor: pointer;
}
.compact-post-card::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%; /* Match the width of the post card */
    height: 1px; /* Height of the dividing line */
    background-color: #ddd; /* Color of the dividing line */
  }

  .compact-post-card:first-child::before {
    content: '';
    position: absolute;
    top: -20px; /* Adjust this value to control the distance of the divider line from the post card */
    left: 0;
    width: 100%; /* Match the width of the post card */
    height: 1px; /* Height of the dividing line */
    background-color: #ddd; /* Color of the dividing line */
  }
.compact-post-card:hover{
background-color: rgba(128, 128, 128, 0.1); ;
}

.compact-post-card-header{
    margin-left: 35px;
    margin-top: 10px;
    display: flex;
}
.compact-post-card-header p{
font-size: 13px;
}

.compact-post-card-dropbtn {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}

.compact-post-card-dropbtn:hover{
    background-color: rgba(128, 128, 128, 0.2);
}
.compact-post-card-dropdown {
    position: relative;
    margin-left: auto; /* Adjust to push the dropdown to the right */
    right: 20px;
}

.compact-post-card-dropdown-content {
    right: 10px;
    left: auto; /* Align dropdown content to the left edge of its container */
}
/* .compact-post-card-dropdown {
    position: relative;
    overflow:visible;
    margin-left: 10px; 
} */
.compact-post-card-dropdown-content{
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
    
}
  
.compact-post-card-dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float : none;
    border-radius: 15px;
}
  
.compact-post-card-dropdown-content :hover {
    background-color: #ddd;
}
  
.compact-post-card-dropdown:hover .compact-post-card-dropdown-content {
    display: block;
}

.compact-post-card-body{
    height: 100px;
    display: flex;
    margin-top: -10px;
}

.compact-post-card-left{
    height: 100px;
    width: 90px;
    margin-left: 15px;
    margin-right: 10px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compact-post-card-right{
    height: 100px;
    width: 600px;
}

.compact-post-card-join-btn {
    width: auto; 
    height: 15px;
    padding: 0 10px; 
    background-color: #0045AC;
    border-radius: 25px;
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 15px;
    border: none;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.compact-post-card-join-btn:hover{
    background-color: #003584;
}

.compact-post-card-profile-photo{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-right: 5px;
}

.compact-post-card-right-header{
    display: flex;
}

.compact-post-card-interaction{
    display: flex;
    margin: 10px;
}
.compact-post-card-interaction-voting p{
    margin-top: 5px;
}
.compact-post-card-interaction-expand, .compact-post-card-interaction-voting button{
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%; /* Make the button circular */
    width: 30px; 
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.compact-post-card-interaction-text-buttons button{
    border: none;
    cursor: pointer;
    width: auto ;
    height: 35px ;
    border-radius: 25px ; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    padding: 0 15px ; 
    font-size: 15px ;
    background-color: transparent;
}
.compact-post-card-interaction-voting,.compact-post-card-interaction-text-buttons{
    display: flex;
}

.compact-post-card-interaction-expand:hover,.compact-post-card-interaction-voting button:hover,.compact-post-card-interaction-text-buttons button:hover{
    background-color: rgba(128, 128, 128, 0.3);
}

.downvote-button:hover {
    color: blue;
  }
  .upvote-button:hover {
    color: red;
  }

/* .compact-post-card-interaction button.upvoted {
    background-color: #0045AC;
}

.compact-post-card-interaction button.downvoted {
    background-color: orange;
} */
