.post-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin-top: -70px; */
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
  
  .post-card {
    position: relative;
    border-radius: 10px;
    padding: 50px;
    min-width: 830px;
    max-height: 690px;
    width: 100%;
    height: 100%;
    transition: box-shadow 0.3s ease;
    background-color: none;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .post-card.no-media {
    max-width: 830px;
    width: 100%;
    max-height: 270px;
    height: 100%;
  }
  
  .post-card::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 5px;
  }

  .post-card:hover {
    background-color: rgba(128, 128, 128, 0.1);
  }
  .post-info {
    padding: 15px;
    margin-top: -32px;
    min-height: 200px;
    height: 100%;
  }
  
  .post-info p {
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .interaction {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .right-post {
    font-size: 20px;
    margin-bottom: 4px;
    max-width: 75px;
    width: 100%;
    max-height: 37.5px;
    height: 100%;
    border-radius: 37.5px;
  }
  
.downvote-button:hover {
  color: blue;
}
.upvote-button:hover {
  color: red;
}
  .left-post,
  .middle-post{
    cursor: pointer;
    border: none;
    width: auto;
    max-height: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 25px;
    padding: 0 0px;
    background-color: rgba(128, 128, 128, 0.1);
  }
  
  .right-post {
    cursor: pointer;
    border: none;
    width: auto;
    max-height: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 25px;
    padding: 0 5px;
    background-color: rgba(128, 128, 128, 0.1);
  } 
  .left-post button,
  .middle-post button,
  .right-post button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-post p {
    margin-right: 0px;
    margin-top: 15px;
    margin-left: 0px;
    padding: 5px;
  }
  .middle-post p {
    margin-right: 2px;
    margin-top: 15px;
    margin-left: -5px;
    padding: 5px;
  }
  .right-post p {
    font-size: 13px;
    margin-top: 19px;
    margin-left: -4px;
  }
  
  .interaction-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-post button.upvoted {
    background-color: #0045ac;
  }
  
  .left-post button.downvoted {
    background-color: orange;
  }
  
  .profile-photo {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 5px;
  }

  
  .post-header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position:relative
  }
  .post-header-right , .join-btn-post{
    z-index: 1;
  }
  .post-header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -29px;
    position: relative;
  }
  
  .dropbtn-post {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropbtn-post:hover {
    background-color: rgba(128, 128, 128, 0.3);
  }
  
  .dropdown-post {
    position: relative;
    overflow: visible;
    margin-left: 10px;
  }
  
  .dropdown-content-post {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 10px;
    border-radius: 15px;
  }
  
  .dropdown-content-post a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: none;
    border-radius: 15px;
  }
  
  .dropdown-content-post a:hover {
    background-color: #ddd;
  }
  
  .dropdown-post:hover .dropdown-content-post {
    display: block;
  }
  
  .join-btn-post {
    width: auto;
    padding: 0 10px;
    background-color: #0045ac;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: none;
  }
  
  .join-btn-post:hover {
    background-color: #003584;
  }
  
  .post-title,
  .post-text {
    margin-top: 5px;
  }
  
  .post-header p {
    margin-right: 5px;
  }
  
  .post-header-left-community{
    display: flex;
    align-items: center;
  }
  .post-header-left-community-wrapper{
z-index: 2;  }
.post-card-hovered-community {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.post-card-hovered-community-background-photo{
  width: 100%;
  height: 100%;
  max-height: 70px;
  max-width: 190px;
  object-fit:cover;
}
.post-card-hovered-community-photo{
  width: 100%;
  height: 100%;
  max-width: 30px;
  max-height: 30px;
  border-radius: 15px;
}
.post-card-hovered-community-header {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.post-card-hovered-community-header:hover b{
  color: rgb(9, 9, 139);
  text-decoration: underline;
}

.hover-card-join-btn-post {
  width: auto;
  padding: 0 10px;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 25px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border: none;
  margin-left: auto;
}
.hover-card-join-btn-post:hover{
  background-color: rgba(128, 128, 128, 0.3);
}
.post-card-hovered-community-description{
  color: #2a3c42;
  padding-top: 5px ;
}
.post-card-hovered-community-description::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc; 
  margin-top: 10px; 
  margin-bottom: 10px;
}

@media screen and (max-width: 830px) {
  .post-card{
    min-width: 600px;
  }
}

@media screen and (max-width: 667px) {
  .post-card{
    min-width: 300px;
  }
}
