.container-fluid{
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: rgb(190, 22, 190);
  box-shadow: rgb(153, 30, 153);
  border-width: 10px;
  width: 100%;
}

.left, .right {
  display: flex;
  align-items: center;
}

.center {
  flex-grow: 1; /* Allow the center div to grow and fill the available space */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd; /* Change background color to match the grey color of the search bar */
  border-radius: 50px;
  margin-left: 20px;
  padding: 0 20px; /* Add padding to the center div if needed */
}

.img{
    width: 40px; 
} 
.logo {
  color: rgb(235, 101, 12);
  text-decoration: none;
  font-size: 30px;
  font-weight :1000;
}


input[type="text"] {
  flex-grow: 1; /* Allow the search input to expand and fill the available space */
  padding: 6px;
  background-color: #ddd;
  border: none; /* Remove border */
  border-radius: 20px;
}
input[type="text"]:focus {
  outline: none; /* Remove default focus outline */
}

.dropbtn {
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropbtn:hover{
  background-color: rgba(128, 128, 128, 0.6);
}

.dropdown {
  position: relative;
  overflow:visible;
}

.dropdown-content {
  display: none;
  position:absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 10px;
  border-radius: 15px;
  
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  float : none;
  border-radius: 15px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.right-login-btn{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 7px 9px;
  background-color: rgb(235, 101, 12);
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 10px;
  width: 50px;
  position: relative;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-login-btn:hover {
  background-color: rgba(128, 128, 128, 1); /* Semi-transparent grey background on hover */
  transform: translateY(2px); /* Move the button down slightly on hover */
  margin-top: -4px;
}


/* Style for tooltip */
.right-login-btn::after {
  content: attr(data-title); 
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  width: 55px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}


  #search-icon {
    font-size: 20px; /* Increase the size of the search icon */
  }



  .close-button {
    position: absolute;
    top: 160px;
    right: 140px;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    color: black;
    border: none;
    border-radius: 50%; /* Make the button circular */
    width: 40px; /* Set width and height for circular shape */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Add transition for smoother hover effect */
  }
  
  .close-button:hover {
    background-color: rgba(255, 255, 255, 0.9); /* Lighten the background on hover */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add shadow effect on hover */
  }
  
  #close-icon {
    font-size: 25px; /* Increase the size of the close icon */
  }
  

  @media screen and (max-width: 560px) {
    .container-fluid {
      height: 40%;
      width: 10%;
    }
    
  }