.comments-container1 {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    height: auto;
    overflow: hidden;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Stack items from bottom to top */
    position: absolute;
    top: 240px;
    left: 200px;
}

.comment1233 {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
}

.comment-header11 {
    display: flex;
    align-items: center;
}

.comment-content12 {
    margin-top: 10px;
}

.comment-content h3 {
    margin-bottom: 10px;
}

.comment-content p {
    margin-bottom: 15px;
}
