/* Base styles */
.overviewPostComment1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 120px;
}

.post {
    margin-bottom: 4vw; /* Adjust based on your design */
    padding: 4vw; /* Adjust based on your design */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
    top: 4vw; /* Adjust based on your design */
    left: -11vw; /* Adjust based on your design */
}

.postTitle {
    font-size: 2.5vw; /* Adjust based on your design */
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5vw; /* Adjust based on your design */
}

.postContent {
    font-size: 1.8vw; /* Adjust based on your design */
    color: #555;
    margin-bottom: 1vw; /* Adjust based on your design */
}

.postActions {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw; /* Adjust based on your design */
}

.postActions p {
    margin: 0;
}

.postActions p svg {
    margin-right: 0.5vw; /* Adjust based on your design */
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
    .postTitle {
        font-size: 3vw;
    }

    .postContent {
        font-size: 2vw;
    }

    .post {
        width: 90%;
        max-width: 100%;
        left: 5vw;
    }

    .postActions {
        margin-top: 3vw;
    }

    .postActions p svg {
        margin-right: 1vw;
    }
}
