.Title .createpost{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: rgba(0, 0, 255, 0.671);
  padding: 10px;
  margin-top: 0;
  margin-left: 50px;
  text-shadow: 5px 5px 5px;
 

}
.body{
  background-color: hsla(218, 15%, 69%, 0.532);
}
