.footer {
  display: flex;
  height: 200px;
  width: 30%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  z-index: 10000;
}

.column {
  flex: 1;
  padding: 5px;
  width: fit-content;
  left: 0;
}

ul {
  list-style: none;
  padding: 0;
  font: 12px ;
  font-family: Arial, Helvetica, sans-serif;

}

li {
  margin-bottom: 0px;
  color: #0079d3;
  font: 12px ;
  font-family: Arial, Helvetica, sans-serif;

}

/* Copyright text */
p {
  font-size: 12px;
  color: #777;
}

.copyrighttxt{
margin-top: max;

}

.footertitle{
  font-family: Arial, Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    font-weight: normal;
}



