.forget-username-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
  }
  
  .forget-username-modal {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    max-height: 630px;
    width: 100%;
    height: 100%;
  }
  
  .forget-username-content{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
  }
.forget-username-close-btn,.forget-username-back-btn{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.forget-username-close-btn{
    margin-left: auto;
    margin-top: -30px;
}

.forget-username-close-btn:hover,.forget-username-back-btn:hover{
    background-color: rgba(128, 128, 128,0.3);
}

.forget-username-content p{
    font-size: 14px;
}

.forget-username-content h2{
  margin-top: 10px;
}
  #forget-username-email{
    margin-bottom: 10px;
    border: none;
    background-color: rgba(128, 128, 128,0.2);
    width: 400px;
    height: 58px;
    border-radius: 15px;
    font-size: 15px;
  }
#forget-username-email:hover{
    background-color: rgba(128, 128, 128,0.3);
}

  .forget-username-input-group input::placeholder {
    color: rgba(128, 128, 128,1);
  }
  #forget-username-email:focus {
    outline: none;
  }

  .forget-username-forgot-text{
    margin-top: 35px;
    display: flex;
  }

  .forget-username-new-text{
    display: flex;
    margin-top: 10px;
  }

  .forget-username-btn-final{
    background-color: #D93A00;
    width: 400px;
    height: 48px;
    border-radius: 40px;
    font-size: 15px;
    margin-top: 155px;
    border: none;
    color: white;
    cursor: pointer;
  }

.forget-username-signup-text,.forget-username-login-text,.forget-username-get-help{
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .forget-username-content {
      margin-left: 20px;
      margin-right: 20px;
  }

  .forget-username-modal {
      max-width: 90%;
      max-height: 70%;
  }

  #forget-username-email,
  .forget-username-btn-final {
      width: 90%;
  }

  .forget-username-btn-final{
    margin-top: 50px;
  }
}