.forget-password-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
  }
  
  .forget-password-modal {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    max-height: 630px;
    width: 100%;
    height: 100%;
  }
  
  .forget-password-content{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .forget-password-content h2{
    margin-top: 20px;
  }
.forget-password-close-btn,.forget-password-back-btn{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(128, 128, 128,0.2);
}
.forget-password-close-btn{
    margin-left: auto;
    margin-top: -30px;
}

.forget-password-close-btn:hover,.forget-password-back-btn:hover{
    background-color: rgba(128, 128, 128,0.3);
}

.forget-password-content p{
    font-size: 14px;
}

#forget-password-pass{
  margin-top: -10px;
}
  #forget-password-pass,#forget-password-username{
    margin-bottom: 10px;
    border: none;
    background-color: rgba(128, 128, 128,0.2);
    width: 400px;
    height: 58px;
    border-radius: 15px;
    font-size: 15px;
  }
#forget-password-pass:hover,#forget-password-username:hover{
    background-color: rgba(128, 128, 128,0.3);
}

.forget-password-input-group input[type="text"],
.forget-password-input-group[type="password"] {
  padding-left: 20px; 
}
  .forget-password-input-group input::placeholder {
    color: rgba(128, 128, 128,1);
  }
  #forget-password-pass:focus {
    outline: none;
  }

  .forget-password-text{
    margin-top: 15px;
    display: flex;
  }

  .forget-password-new-text{
    display: flex;
    margin-top: 10px;
  }

  .forget-password-btn-final{
    background-color: #D93A00;
    width: 400px;
    height: 48px;
    border-radius: 40px;
    font-size: 15px;
    margin-top: 95px;
    border: none;
    color: white;
    cursor: pointer;
  }

.forget-password-signup-text,.forget-password-login-text,.forget-password-username,.forget-password-get-help{
    text-decoration: none;
}

#forget-password-username {
  border: none;
  background-color: rgba(128, 128, 128, 0.2);
  max-width: 400px;
  width: 100%;
  height: 58px;
  border-radius: 15px;
  font-size: 15px;
  margin-top: 30px;
}

#forget-password-username:focus::placeholder,
#forget-password-username:not(:placeholder-shown)::placeholder {
  transform: translateY(-16px);
  font-size: 13px; 
  color: rgba(128, 128, 128, 1); 
  opacity: 0.6; 
  transition: all 0.3s ease; 
}
@media only screen and (max-width: 768px) {
  .forget-password-content {
      margin-left: 20px;
      margin-right: 20px;
  }

  .forget-password-modal {
      max-width: 90%;
      max-height: 70%;
  }

  #forget-password-pass,
  #forget-password-username,
  .forget-password-btn-final {
      width: 90%;
      margin-top: 10px;
        }
}
