.login-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999;
  }
  
  .login-modal {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    max-height: 630px;
    width: 100%;
    height: 100%;
  }
  
  .login-content{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
  }
.login-close-btn{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;
}

.login-close-btn:hover{
    background-color: rgba(128, 128, 128,0.3);
}

.login-content p{
    font-size: 14px;
    margin-top: -10px;
}

.login-content h2{
  margin-bottom: 20px;
}

.login-google-oauth{
  width: 400px;
  height: 48px;
  border-radius: 500px;
}
/* Add a divider between "Continue with Apple" button and the rest of the page */
.login-divider {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* Style for the divider line */
.login-divider-line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

/* Style for the text "OR" */
.login-divider-text {
  margin: 0 10px;
  color: black;
  font-size: 13px;
}

  
  #username{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #username,#password{
    border: none;
    background-color: rgba(128, 128, 128,0.2);
    width: 400px;
    height: 58px;
    border-radius: 15px;
    font-size: 15px;
  }
#username:hover,#password:hover{
    background-color: rgba(128, 128, 128,0.3);
}

  .input-group input::placeholder {
    color: rgba(128, 128, 128,1);
  }
  #username:focus,
  #password:focus {
    outline: none;
  }

  .login-forgot-text{
    margin-top: 35px;
    display: flex;
  }

  .login-new-text{
    display: flex;
    margin-top: 10px;
    margin-right: 100px;
  }

  .login-btn-final{
    background-color: #D93A00;
    width: 400px;
    height: 48px;
    border-radius: 40px;
    font-size: 15px;
    margin-top: 45px;
    border: none;
    color: white;
    cursor: pointer;
  }

  

.login-privcy-plcy,.login-user-agremnt,.login-signup-text,.login-forgot-password,.login-forgot-username{
    text-decoration: none;
}


@media (max-width: 768px) {
  .login-modal {
    max-width: 90%;
    max-height: 90%;
  }

  .login-content {
    margin: 20px;
  }

  .login-close-btn {
    margin-right: 10px;
  }

  .login-google-oauth {
    width: 100%;
  }

  #username,
  #password {
    width: 100%;
  }

  .login-btn-final {
    width: 100%;
  }
}

/* For screens smaller than 768px*/
@media (max-width: 768px) {
  .login-modal {
    max-width: 90%;
    max-height: 75%;
  }

  .login-content {
    margin: 20px;
  }

  .login-close-btn {
    margin-right: 10px;
  }

  .login-google-oauth {
    width: 100%;
  }

  #username,
  #password {
    width: 100%;
  }

  .login-btn-final {
    width: 100%;
  }
}

/* For screens between 768px and 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
  .login-modal {
    max-width: 70%;
    max-height: 80%;
  }
}

/* For screens larger than 1024px*/
@media (min-width: 1024px) {
  .login-modal {
    max-width: 550px;
    max-height: 630px;
  }
}
