.login-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

.login-modal {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 550px;
  max-height: 630px;
  width: 100%;
  height: 100%;
}

.login-content {
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
}
.login-close-btn {
  border-radius: 30px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin-left: auto;
   background-color: rgba(128, 128, 128, 0.2);
}

.login-close-btn:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.login-content p {
  font-size: 14px;
  margin-top: -10px;
}

.login-content h2 {
  margin-bottom: 20px;
}

.login-google-oauth {
  width: 400px;
  height: 4800px;
  border-radius: 500px;
}
/* Add a divider between "Continue with Apple" button and the rest of the page */
.login-divider {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* Style for the divider line */
.login-divider-line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

/* Style for the text "OR" */
.login-divider-text {
  margin: 0 10px;
  color: black;
  font-size: 13px;
}

#username {
  margin-bottom: 10px;
}

#username,
#password {
  border: none;
  background-color: rgba(128, 128, 128, 0.2);
  width: 400px;
  height: 58px;
  border-radius: 15px;
  font-size: 15px;
}
#username:hover,
#password:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.input-group input[type="text"],
.input-group input[type="password"] {
  padding-left: 20px;
}

.input-group input::placeholder {
  color: rgba(128, 128, 128, 1);
}
#username:focus,
#password:focus {
  outline: none;
}

.login-forgot-text {
  margin-top: 35px;
  display: flex;
}

.login-new-text {
  display: flex;
  margin-top: 10px;
  margin-right: 100px;
}

.login-btn-final {
  background-color: #d93a00;
  width: 400px;
  height: 48px;
  border-radius: 40px;
  font-size: 15px;
  border: none;
  color: white;
  cursor: pointer;
}

.login-privcy-plcy,
.login-user-agremnt,
.login-signup-text,
.login-forgot-password,
.login-forgot-username {
  text-decoration: none;
}
#username,
#password {
  border: none;
  background-color: rgba(128, 128, 128, 0.2);
  max-width: 400px;
  width: 100%;
  height: 58px;
  border-radius: 15px;
  font-size: 15px;
  margin-top: 30px;
}
#username:focus::placeholder,
#username:not(:placeholder-shown)::placeholder,
#password:focus::placeholder,
#password:not(:placeholder-shown)::placeholder {
  transform: translateY(-16px);
  font-size: 13px;
  color: rgba(128, 128, 128, 1);
  opacity: 0.6;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .login-modal {
    max-width: 90%;
    max-height: 90%;
  }

  .login-content {
    margin: 20px;
  }

  .login-close-btn {
    margin-right: 10px;
  }

  .login-google-oauth {
    width: 100%;
  }

  #username,
  #password {
    width: 100%;
  }

  .login-btn-final {
    width: 100%;
  }
}

/* For screens smaller than 768px*/
@media (max-width: 768px) {
  .login-modal {
    max-width: 90%;
    max-height: 75%;
  }

  .login-content {
    margin: 20px;
  }

  .login-close-btn {
    margin-right: 10px;
  }

  .login-google-oauth {
    width: 100%;
  }

  #username,
  #password {
    width: 100%;
  }

  .login-btn-final {
    width: 100%;
  }
}

/* For screens between 768px and 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
  .login-modal {
    max-width: 70%;
    max-height: 80%;
  }
}

/* For screens larger than 1024px*/
@media (min-width: 1024px) {
  .login-modal {
    max-width: 550px;
    max-height: 630px;
  }
}

.login-with-google-btn {
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.04),
    0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  width: 400px;
  height: 40px;
}
.login-with-google-btn:hover {
  box-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.04),
    0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.04),
    0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.04),
    0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
