.signuptwo-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
  }
  
  .signuptwo-modal {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    max-height: 630px;
    width: 100%;
    height: 100%;
  }
  
  .signuptwo-content{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
  }
  .signuptwo-content h2{
    margin-top: 10px;
    margin-bottom: 20px;
  }
.signuptwo-back-btn{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.signuptwo-back-btn:hover{
    background-color: rgba(128, 128, 128,0.3);
}

.signuptwo-content p{
    font-size: 14px;
    margin-top: -10px;
}
.signuptwo-input-group input[type="text"],
.signuptwo-input-group input[type="password"] {
  padding-left: 20px; 
}
  .signuptwo-input-group input::placeholder {
    color: rgba(128, 128, 128,1);
  }

  .signuptwo-cntnu-btn{
    background-color: #D93A00;
    width: 400px;
    height: 48px;
    border-radius: 40px;
    font-size: 15px;
    margin-top: 140px;
    border: none;
    color: white;
    cursor: pointer;
  }


  #signuptwo-username,#signuptwo-password{
    border: none;
    background-color: rgba(128, 128, 128,0.2);
    width: 400px;
    height: 58px;
    border-radius: 15px;
    font-size: 15px;
  }
#signuptwo-username:hover,#signuptwo-password:hover{
    background-color: rgba(128, 128, 128,0.3);
}

#signuptwo-username:focus,#signuptwo-password:focus{
    outline: none;
}

.signuptwo-recaptcha{
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  .signuptwo-content {
      margin-left: 20px;
      margin-right: 20px;
  }

  .signuptwo-modal {
      max-width: 90%;
      max-height: 70%;
  }

  #signuptwo-username,
  #signuptwo-password,
  .signuptwo-cntnu-btn {
      width: 90%;
      margin-top: 10px;
  }
}