.signup-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .signup-modal {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    max-height: 630px;
    width: 100%;
    height: 100%;
  }
  
  .signup-content{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
  }
.signup-close-btn{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;
}

.signup-close-btn:hover{
    background-color: rgba(128, 128, 128,0.3);
}

.signup-content p{
    font-size: 14px;
    margin-top: -10px;
}

.signup-content h2{
  margin-bottom: 20px;
}

.signUpOne-google{
  width: 400px;
}
.signUpOne-divider {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* Style for the divider line */
.SignUpOne-divider-line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

/* Style for the text "OR" */
.SignUpOne-divider-text {
  margin: 0 10px;
  color: black;
  font-size: 13px;
}  
  #signup-email{
    margin-top: 0px;
    margin-bottom: 10px;
  }

#signup-email{
    border: none;
    background-color: rgba(128, 128, 128,0.2);
    width: 400px;
    height: 58px;
    border-radius: 15px;
    font-size: 15px;
  }
  
  #signup-email:hover{
    background-color: rgba(128, 128, 128,0.3);
}

  .signup-input-group input::placeholder {
    color: rgba(128, 128, 128,1);
  }

  #signup-email:focus {
    outline: none;
  }

  .signup-login-text{
    margin-top: 35px;
    display: flex;
  }


  .signup-cntnu-btn{
    background-color: #D93A00;
    width: 400px;
    height: 48px;
    border-radius: 40px;
    font-size: 15px;
    margin-top: 120px;
    border: none;
    color: white;
    cursor: pointer;
  }

.login-privcy-plcy,.login-user-agremnt,.login-signup-text,.login-forgot-password,.login-forgot-username{
    text-decoration: none;
}
