/* HashTags.module.css */

.container {
  padding: 20px;
  position: absolute;
  top: 200px;
  left: 200px;
}

.hashtagContainer {
  display: flex-column;
  flex-wrap: wrap;
}

.hashtag {
  margin-right: 10px; /* Adjust space between each hashtag */
  margin-bottom: 10px; /* Adjust space between each row */
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

/* Media Query */
@media (max-width: 768px) {
  .container {
      top: 150px; /* Adjust position from top */
      left: 50px; /* Adjust position from left */
  }

  .hashtagContainer {
      flex-direction: column; /* Change to column layout */
  }

  .hashtag {
      margin-right: 0; /* Reset margin between hashtags */
      margin-bottom: 10px; /* Keep space between rows */
  }
}
