/* UserSearchDataContainer */
.UserSearchDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 220px;
    left: 220px;
}
.SearchInput{
    position: relative;
    top: 100px;
    left: 1350px;
}
/* UserSearchData */
.UserSearchData {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    width: 600px;
    position: relative;
}

.UserSearchData:hover {
    background-color: #e0e0e0;
}

/* UserAvatar */
.UserAvatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

/* UserDetails */
.UserDetails {
    flex-grow: 1;
    padding: 10px;
    border-radius: 8px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Username */
.Username {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

/* Sarakelid */
.Sarakelid {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}

/* AboutMe */
.AboutMe {
    font-size: 13px;
    color: #555;
    margin: 10px 0 0;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .UserSearchDataContainer {
        left: 50px; /* Adjust position from left */
        width: 90%; /* Adjust width for smaller screens */
    }

    .UserAvatar {
        width: 50px; /* Adjust avatar size */
        height: 50px;
    }
}
